.main-body{
	position: relative;
	width: 100%; 
	height:100%;
}
.tree-div{
	/* overflow-y:auto; */
	width:32%;
	background-color:white;
	float:left;
	clear:right;
	border-right: solid #EEEEEE 1PX;
	position:absolute; 
	left:0; 
	top:65px;
}
.tree-search{
	padding:3px 10px;
	 text-align: center;
}
.right-div{
	position:absolute;
	top:44px;
	left:26%;
	width:72%;
	 margin:0 auto;
	 text-align:center;
	 background:#fff;
	 border-top:0px solid #d9d9d9;
	 border-bottom:0px solid #d9d9d9;
	 min-height:499px;
}