<?xml version="1.0" encoding="UTF-8"?>
<!-- START SNIPPET: beans -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 通用 -->
	<bean id="comDAO" class="com.git.cloud.common.dao.CommonDAOImpl">
		<property name="dataSource" ref="jndiDataSource" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<!-- 字典表 -->
	<bean id="dicService" class="com.git.cloud.common.service.DictionaryServiceImpl">
		<property name="comDAO" ref="comDAO" />
	</bean>
	
	<!-- 参数表 -->
	<!-- <bean id="paramService" class="com.git.cloud.common.service.ParameterServiceImpl">
		<property name="comDAO" ref="comDAO" />
	</bean> -->

</beans>