<?xml version="1.0" encoding="UTF-8"?>
<!-- START SNIPPET: beans -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
	<bean id="deployunitDaoImpl" class="com.git.cloud.appmgt.dao.impl.DeployunitDaoImpl" scope="singleton">
		<property name="dataSource" ref="jndiDataSource" />
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="deployunitServiceImpl" class="com.git.cloud.appmgt.service.impl.DeployunitServiceImpl" scope="singleton">
		<property name="deployunitDaoImpl" ref="deployunitDaoImpl" />
	</bean>
</beans>
