<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
	<bean id="resourceDao" class="com.git.cloud.resource.dao.impl.ResourceDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.git.cloud.resource.service.impl.ResourceServiceImpl" id="resourceService">
		<property name="resouceDao" ref="resourceDao"></property>
	</bean>
	<bean class="com.git.cloud.resource.action.ResourceAction" id="resourceAction" scope="prototype">
		<property name="resourceService" ref="resourceService"></property>
	</bean>
</beans>
